
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    .display-block {
        opacity: 0;
        transition: opacity 1s ease;
    }

    .blocq-container {
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        width: 100%;
        margin-top: 50px;
    }

    .blocq {
        flex: 0 0 30%;
        text-align: center;
        margin: 0 20px;
        background-color: #ADD8E6; /* Light blue */
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        transition: transform 0.5s ease, background-color 0.5s ease;
    }

    .blocq:hover {
        transform: translateY(-10px);
        background-color: #87CEFA; /* Lighter blue on hover */
    }

    .blocq img {
        border-radius: 50%;
        margin-bottom: 10px;
    }

    .blocq p {
        color: #333;
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 5px;
    }

    h2 {
        font-weight: bold;
        color: #333;
        transition: transform 1s ease;
    }

    .number-emphasis {
        font-size: 30px; /* Reduced font size */
        color: #2E8B57; /* Dark green */
        transition: transform 1s ease;
    }

    .message {
        margin-top: 20px;
        font-size: 16px;
        color: #333;
    }

    .display-block, h2, .number-emphasis {
        opacity: 1;
    }
</style>

<h2>Admin</h2>
<div class="message">
    Records of doctors, students, and total appointments are shown below.
</div>

<div class="display-block">
    <div class="blocq-container">
        <div class="blocq">
            <img src="https://th.bing.com/th/id/OIP.jixXH_Els1MXBRmKFdMQPAHaHa?w=199&h=199&c=7&r=0&o=5&dpr=1.3&pid=1.7"
                 alt="student icon" width="150" />
            <p>Students</p>
            <p class="number-emphasis">@ViewBag.NumberOfStudents</p>
        </div>
        <div class="blocq">
            <img src="https://guyanamedicalmission.com/wp-content/uploads/2018/04/doctor.jpg"
                 alt="doctor icon" width="150" />
            <p>Doctors</p>
            <p class="number-emphasis">@ViewBag.NumberOfDoctors</p>
        </div>
        <div class="blocq">
            <img src="https://th.bing.com/th/id/R.aacf60fb05d75e47f8156f4bb2d73d3b?rik=mbyhr8oTzBsOMg&pid=ImgRaw&r=0"
                 alt="appointment icon" width="150" />
            <p>Appointments</p>
            <p class="number-emphasis">@ViewBag.NumberOfAppointments</p>
        </div>
    </div>
</div>

